/* stylelint-disable declaration-colon-space-after, function-comma-space-after, function-parentheses-space-inside, number-leading-zero */

:root {
	/* Easing Properties
	/* ====================================================================== */

	--c-linear-easing:            cubic-bezier(0,     0,     0,     0    );
	--c-ease-easing:              cubic-bezier(0.25,  0.1,   0.25,  1    );
	--c-ease-in-easing:           cubic-bezier(0.42,  0,     1,     1    );
	--c-ease-in-quad-easing:      cubic-bezier(0.55,  0.085, 0.68,  0.53 );
	--c-ease-in-cubic-easing:     cubic-bezier(0.55,  0.055, 0.675, 0.19 );
	--c-ease-in-quart-easing:     cubic-bezier(0.895, 0.03,  0.685, 0.22 );
	--c-ease-in-quint-easing:     cubic-bezier(0.755, 0.05,  0.855, 0.06 );
	--c-ease-in-sine-easing:      cubic-bezier(0.47,  0,     0.745, 0.715);
	--c-ease-in-expo-easing:      cubic-bezier(0.95,  0.05,  0.795, 0.035);
	--c-ease-in-circ-easing:      cubic-bezier(0.6,   0.04,  0.98,  0.335);
	--c-ease-in-back-easing:      cubic-bezier(0.6,  -0.28,  0.735, 0.045);
	--c-ease-out-easing:          cubic-bezier(0,     0,     0.58,  1    );
	--c-ease-out-quad-easing:     cubic-bezier(0.25,  0.46,  0.45,  0.94 );
	--c-ease-out-cubic-easing:    cubic-bezier(0.215, 0.61,  0.355, 1    );
	--c-ease-out-quart-easing:    cubic-bezier(0.165, 0.84,  0.44,  1    );
	--c-ease-out-quint-easing:    cubic-bezier(0.23,  10,    0.32,  1    );
	--c-ease-out-sine-easing:     cubic-bezier(0.39,  0.575, 0.565, 0.95 );
	--c-ease-out-expo-easing:     cubic-bezier(0.19,  10,    0.22,  1    );
	--c-ease-out-circ-easing:     cubic-bezier(0.075, 0.82,  0.165, 1    );
	--c-ease-out-back-easing:     cubic-bezier(0.175, 0.885, 0.32,  1.275);
	--c-ease-in-out-easing:       cubic-bezier(0.42,  0,     0.58,  1    );
	--c-ease-in-out-quad-easing:  cubic-bezier(0.455, 0.03,  0.515, 0.955);
	--c-ease-in-out-cubic-easing: cubic-bezier(0.645, 0.045, 0.355, 1    );
	--c-ease-in-out-quart-easing: cubic-bezier(0.77,  0,     0.175, 1    );
	--c-ease-in-out-quint-easing: cubic-bezier(0.86,  0,     0.07,  1    );
	--c-ease-in-out-sine-easing:  cubic-bezier(0.445, 0.05,  0.55,  0.95 );
	--c-ease-in-out-expo-easing:  cubic-bezier(1,     0,     0,     1    );
	--c-ease-in-out-circ-easing:  cubic-bezier(0.785, 0.135, 0.15,  0.86 );
	--c-ease-in-out-back-easing:  cubic-bezier(0.68, -0.55,  0.265, 1.55 );

	/* Preferential Easing Properties
	/* ====================================================================== */

	--c-fade-easing:  var(--c-ease-in-sine-easing);
	--c-scale-easing: var(--c-ease-in-out-back-easing);

	/* Preferential Duration Properties
	/* ====================================================================== */

	--c-instant-duration: 80ms;
	--c-smooth-duration: 400ms;
}
